<table class = "table table-hover table-inverse">
  <!--検索モデルがUserのとき-->
  <% if @model == "user" %>
    <h3>Users search for "<%= @content %>"</h3>
      <%= render 'users/index', users: @records %>
  <% elsif @model == 'book' %>
    <!--検索対象モデルがUserではないとき(= 検索対象がBookのとき)-->
    <h3>Books search for "<%= @content %>"</h3>
      <%= render 'books/index', books: @records %>
  <% end %>
</table>